<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenCVProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09B5980B1D7CABF500B432D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B5981F1D7CABF500B432D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B5982A1D7CABF500B432D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
